<div class="container">
  <div class="jumbotron">
    <!-- <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2> -->
    <h1 style="text-align: center;">Search for a Tutorial</h1>
  </div>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <!-- <h3>{{title}}</h3> -->
      <h3>Chicken!</h3>
    </div>
  </div>

</div>
