<div class="navbar-container">
    <a class="navbar-logo-container">
        <mat-icon fontIcon="home"
            class="navbar-logo"
            aria-hidden="false" aria-label="Example home icon" 
        />

        <div class="logo-separator"></div>
        
        <div class="navbar-app-name">
            <div>Placeholder</div>

            <div>App Name</div>
        </div>
    </a>

    <div class="navbar-search-container">
        <mat-icon fontIcon="search"
            class="navbar-search-icon"
            aria-hidden="false" aria-label="search icon" 
        />

        <input class="navbar-search-input" placeholder="Search Tutorials" />
    </div>

    <div>This is where we'll start adding in the menu options</div>
</div>
