<div class="navbar-container">
    <a class="navbar-logo-container">
        <mat-icon fontIcon="home"
            class="navbar-logo"
            aria-hidden="false" aria-label="Example home icon" 
        />

        <div class="logo-separator"></div>
        
        <div class="navbar-app-name">
            <div>Placeholder</div>

            <div>App Name</div>
        </div>
    </a>

    <div class="navbar-search-container">
        <mat-icon fontIcon="search"
            class="navbar-search-icon"
            aria-hidden="false" aria-label="search icon" 
        />

        <input class="navbar-search-input" placeholder="Search Tutorials" />
    </div>

    <nav class="navbar-menu-options-container" *ngFor="let option of menuOptionData">
        <a href="{{ option.link }}" class="navbar-menu-option">
            {{ option.title }}
        </a>
    </nav>

    <div class="navbar-menu-options-icons">
        <mat-icon fontIcon="menu" class=".condensed-menu-icon"
            [ngClass]="menuCollapsed ? 'display-hidden' : ''"
            (click)="toggleMenuCollapse()"
            aria-hidden="false" aria-label="search icon"
        />

        <mat-icon fontIcon="close" class=".condensed-menu-icon"
            [ngClass]="menuCollapsed ? '' : 'display-hidden'"
            (click)="toggleMenuCollapse()"
            aria-hidden="false" aria-label="search icon"
        />
    </div>
</div>
