
<!-- The card element does not apply for Bootstrap prior to version 4.  The panel with some modifications can be used instead.
    The footer navbar-fixed-bottom classes make the footer "sticky." 
    The pane-heading invokes the background color whereas the panel-body invokes a white background. -->
<div class="footer navbar-fixed-bottom"> 
    <div class="panel" style="text-align: center; font-size: 18px">
        <div class="panel-heading" style="background-color: black; color: white; padding: 20px">
             &copy; 2023 Fred King and Aaron Ben Copeland All Rights Reserved
        </div>
        <!-- <div class="panel-body">Panel Content</div> -->     
    </div>
</div>